<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356418259207-ilau724ipgojbk1fnbq0cm0kd544m9sk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356418259207-ilau724ipgojbk1fnbq0cm0kd544m9sk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>356418259207-vchhonsrbge14puotlgo73jqc9ac0lpe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6LZnXtmdT1WboreJ0z0DYQq5zdXotdno</string>
	<key>GCM_SENDER_ID</key>
	<string>356418259207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ummyou.ios</string>
	<key>PROJECT_ID</key>
	<string>ummyoumibile</string>
	<key>STORAGE_BUCKET</key>
	<string>ummyoumibile.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356418259207:ios:afaae3a1b6c8fa4b00dda2</string>
	<key>DATABASE_URL</key>
	<string>https://ummyoumibile-default-rtdb.firebaseio.com</string>
</dict>
</plist>